/* Green Land HTML5 Template */


/************ TABLE OF CONTENTS ***************
1. Import Files
2. Reset
3. Global
4. Section style
5. Divider style
6. Main Header style
7. About style One
8. Work Time Secction
9. Gallery style
10. Service Section
11. FAQ Section
12. Pricing Section 
13. Team style
14. BLog Section
15. Contact Section
16. Sidebar
17. Main Footer
18. Menu style Two
19. Testimonials style Two
20. Sponsors Slider Style
21. Menu style Three
22. Features style One
23. Testimonials style Two
24. Gallery Section
25. Featured Menu Style
26. Gallery Single Item
27. Map Section Style
28. 404 Section Style


1.Import Files
**********************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

@import url('owl.carousel.css');
@import url('owl.theme.css');
@import url('owl.transitions.css');
@import url('font-awesome.css');
@import url('magnific-popup.css');
@import url('stroke-gap-icons.css');
@import url('animate.css');
@import url('jquery.fancybox.css');
@import url('hover.css');
@import url('flaticon.css');
@import url('icofont.css');

/*** 

====================================================================
	2.Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	3.Global Settings
====================================================================

 ***/

body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#3f3a36;
	line-height:1.8em;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

h1 {
	font-size: 2.571em;

}

h2 {
	font-size: 2.143em

}

h3 {
	font-size: 1.714em

}

h4 {
	font-size: 1.286em;
	letter-spacing: 1px;

}

h5 {
	font-size: 1.143em;
	letter-spacing: 0.5px;

}

h6 {
	font-size: 12px;
	color: #969696;
	font-family: 'Roboto Slab', serif;
	font-weight: 300 !important;
	line-height: 0;
}


h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: 'PT Sans', sans-serif;
	margin:0px;
	font-weight: 600;
	background:none;
	line-height:1.8em;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#333;
}
.msg-left{
	bolder:1px solid #CCC;
	background:#CCC;
	padding:10px;
	width:100%;
	margin-top:10px;
}

a:hover,a:focus{
	text-decoration:none;
	outline:none;
	color: #0798BC;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}



input,button,select,textarea{
	font-family:  'Roboto', sans-serif;
}


ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.border-1px {
	border: 1px solid #eee;
}

.img-fullwidth {
	width: 100%;
}

.color-333 {
	color: #333;
}

.bg-color-f8 {
	background-color: #f8f8f8;
}
.text-theme-color {
	color: #0798BC;
}
.text-white {
	color: #FFF !important;
}

.preloader {
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:#ffffff; 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(../images/icons/preloader.html);
}
.down-arrow{
	background-image:url(../images/icons/down.png);
}

.default-theme-color {
	background:#0798BC;
}

.icon-box i {
    display: inline-block;
    font-size: 40px;	
    transition: all 0.3s ease 0s;
}
.bg-light-gray {
	background: #d3d3d3;
}


/*** 

====================================================================
	4.Section title style
====================================================================

***/

.container,
.container-fluid{
	padding-top: 70px;
	padding-bottom: 70px;
}

.section-title {
	padding-bottom: 50px;
}

.section-title span {
	color: #0798BC;
}

.section-title h6 {
    text-transform: uppercase;
    letter-spacing: 6.9px;
}

.section-title h2 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.section-title-icon {
    display: block;
}
.section-title-icon::after, .section-title-icon::before {
    border-bottom: 1px solid #0798BC;
    content: "";
    display: inline-block;
    height: 1px;
    margin-top: 0;
    vertical-align: middle;
    width: 100px;
}

.section-title-icon i {
    color: #0798BC;
    display: inline-block;
    margin: 0 10px 0 15px;
    font-size: 28px;
    vertical-align: middle;
}

/*** 

====================================================================
	5.Divider style
====================================================================

***/


.overlayer,
.overlayer-black,.default-overlay,.overlay-green,.overlay-green-deep {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: top center;
}
.overlayer {

}
.overlayer-black::before {
  background-color: rgba(0, 0, 0, 0.85); 
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.overlayer::before,.default-overlay::before,.overlay-green::before {
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.default-overlay::before {
	background-color: rgba(15, 38, 58,.86) !important;
}
.overlay-green::before {
	background-color: rgba(7,152,188, 0.5);
}
.overlay-green-deep::before {
	background-color: rgba(7,152,188, 0.8);

}



/*** 

====================================================================
	6.Scroll To Top style
====================================================================

***/

.scroll-to-top{
	position:fixed;
	bottom:15px;
	right:15px;
	width:40px;
	height:40px;
	color:#0798BC;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	border:1px solid #0798BC;
	line-height:34px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	border-radius:0;
	display:none;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;		
}

.scroll-to-top:hover{
	color:#ffffff;
	background:#0798BC;
	border: 0;
}


/*--------------------------------------------------------------
#0.4	hero slider
--------------------------------------------------------------*/

.hero {
  position: relative;
  height: 100vh;
  /** slider arrow **/
  /** slider dots **/
}
.hero .slide {
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
}
.hero .slide > img {
  display: none;
}

.hero .slide:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hero .slide .title {
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 111;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero .slide .title span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 3vmin;
  letter-spacing: 5px;
  opacity: 0;
}
.hero .slide .title h1 {
  font-size: 16.75vmin;
  font-weight: 600;
  line-height: 0.9em;
  color: #fff;
  margin: 0.1em 0 0.2em;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .hero .slide .title h1 {
    letter-spacing: 8px;
  }
}
@media (max-width: 767px) {
  .hero .slide .title h1 {
    font-size: 13.75vmin;
    margin: 0.3em 0 0.5em;
  }
}
.hero .slide .title .theme-btn {
  width: 150px;
  position: relative;
  z-index: 100;
  opacity: 0;
}
@media (max-width: 767px) {
  .hero .slide .title .theme-btn {
    width: 120px;
    padding-bottom: 13px;
  }
}
/*// .hero .hero-slider .owl-stage .active span {*/
/*//   -webkit-animation: slideInDown 1s 0.5s forwards;*/
/*//   animation: slideInDown 1s 0.5s forwards;*/
/*// }*/
/*// .hero .hero-slider .owl-stage .active h1 {*/
/*//   -webkit-animation: slideInDown 1s 1.1s forwards;*/
/*//   animation: slideInDown 1s 1.1s forwards;*/
/*// }*/
/*// .hero .hero-slider .owl-stage .active .theme-btn {*/
/*//   -webkit-animation: slideInDown 1s 1.5s forwards;*/
/*//   animation: slideInDown 1s 1.5s forwards;*/
/*// }*/


.hero .hero-slider .owl-stage .active span,
.hero .hero-slider .owl-stage .active h1,
.hero .hero-slider .owl-stage .active .theme-btn {
  opacity: 1;
}
.hero .hero-slider .owl-nav {
  width: 100%;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero .hero-slider .owl-nav .owl-prev,
.hero .hero-slider .owl-nav .owl-next {
  background-color: #0798BC;
  width: 69px;
  height: 79px;
  line-height: 79px;
  text-align: center;
  font-size: 18px;
  padding: 0;
  position: absolute;
  left: 0;
  border: 1px solid #0798BC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
.hero .hero-slider .owl-nav .owl-prev:hover,
.hero .hero-slider .owl-nav .owl-next:hover {
  background-color: transparent;
  border-color: #fff;
}
@media (max-width: 991px) {
  .hero .hero-slider .owl-nav .owl-prev,
  .hero .hero-slider .owl-nav .owl-next {
    width: 49px;
    height: 59px;
    line-height: 59px;
  }
}
@media (max-width: 767px) {
  .hero .hero-slider .owl-nav .owl-prev,
  .hero .hero-slider .owl-nav .owl-next {
    display: none !important;
  }
}
.hero .hero-slider .owl-nav .owl-next {
  left: auto;
  right: 0;
}
.hero .hero-slider .owl-controls {
  margin: 0;
  padding: 0;
}
.hero .hero-slider .owl-dots {
  position: relative;
  bottom: 50px;
}
.hero .hero-slider .owl-dots .owl-dot {
  margin-right: 5px;
}
.hero .hero-slider .owl-dots .owl-dot span {
  background-color: #fff;
  width: 18px;
  height: 18px;
  margin: 0;
  border: 2px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  .hero .hero-slider .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    border: 1px solid #fff;
  }
}
.hero .hero-slider .owl-dots .active span {
  background-color: #0798BC;
}

.btn-send,
.btn-success.disabled {
	background: #0798BC;
	border-color: #0798BC;
}
.btn-send:hover {
	background-color: #38ACC9;
	border-color: #0798BC;
}
/*** 

====================================================================
	7.Main Header style
====================================================================

***/

.main-header{
	position:relative;
	left:0px;
	top:0px;
	z-index:999;
	width:100%;
}


.main-header .header-top{
	position:relative;
	padding:10px 0px;
	background:#fff;
	color: #dadada;	
}

.header-style-two .header-top {
	background:none;
	border-bottom:1px solid rgba(255,255,255,0.10);	
}

.main-header .header-top a{
	color:#ffffff;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.header-style-one.main-header .header-top a{
	color:#1e1e1e;	
}

.info-nav .icon {
	font-size: 14px;
}

.main-header .info-nav li{
	position:relative;
	display: inline;
	margin-right:25px;
}

.main-header .appoinment {
	border: 1px solid #0798BC;
	padding: 8px 10px;
}

.main-header .info-nav li a{
	position:relative;
	line-height:30px;
	font-size:12px;
}

.main-header .info-nav li a .icon{
	line-height:30px;
	padding-left:5px;	
	vertical-align: middle;
}

.main-header .info-nav li a .icon{
	color:#ffd71b;	
}

.theme-green .main-header .info-nav li a .icon{
	color: #0798BC;	
}

.main-header .social-links{
	position:relative;
	font-size:13px;
	text-transform:uppercase;
	margin-left:30px;	
}

.main-header ul li .social-links{
	margin:0;	
}

.main-header .social-links a{
	position:relative;
	display:inline-block;
	margin-left:10px;
	font-size:13px;
}

.main-header .header-top a:hover{
	color: #EDEDED;	
}

.theme-green .main-header .header-top a:hover{
	color:#0798BC;	
}

.header-style-one.main-header .header-top{
	color:#dadada;	
}

.main-header .header-top li.dropdown{
	color:#dadada;	
}

.main-header .header-top li .dropdown-menu{
	top:48px;
	border:1px solid #d0d0d0;
	border-top:3px solid #ffd71b;
	padding:0px;
	border-radius:0px;
}


.main-header .info-nav a.appoinment:hover {
	background-color: #0798BC;
	color: #FFF;
}
.main-header .info-nav a.appoinment:hover i {
	color: #FFF;
}

.subheader{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	z-index:999;
	background: #5585d7 !important;
}
.sub_menu{
	position:relative !important;
	display:block !important;
	padding:12px 12px !important;
	color:#fff !important;
	font-weight:400 !important;
	font-size:14px !important;
	line-height:15px !important;
	
}
.header-mainbox {
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	z-index:999;	
}

.header-style-one .header-mainbox{
	background: #0798BC;	
}

.header-mainbox .logo {
	position: relative;
	padding: 11.5px 0;
}


.header-mainbox .outer-box {
	float: right;	
}


.header-mainbox .logo-outer {
	position: relative;
}

.fixed-header .header-mainbox{
  position:fixed;
  border-bottom:1px solid rgba(0,0,0,0.20); 
}

.main-header .header-mainbox .logo-outer{
	position:relative;
}

.main-menu{
	position:relative;
}

.main-menu .navbar-collapse{
	padding:0px;	
}

.main-menu .navigation{
	position:relative;
	margin:0px;
	font-family: 'Roboto Slab', serif;
}

.main-menu .navigation > li{
	position: relative;
	float: left;
	padding: 7px 0;
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	padding:25px 25px;
	color:#fff;
	font-weight:400;
	font-size:14px;
	line-height:30px;
	text-transform:uppercase;
	opacity:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}



.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
	color: #ffd71b;
	opacity:1;
}

.theme-green .main-menu .navigation > li:hover > a,
.theme-green .main-menu .navigation > li.current > a,
.theme-green .main-menu .navigation > li.current-menu-item > a{
	color: #FFF;
}
.theme-green .main-menu .navigation > li:hover > a:after,
.theme-green .main-menu .navigation > li.current-menu-item > a:after {
	content: '.....';
	position: absolute;
	letter-spacing: 4px; 
	left: 0;
	right: 0;
	text-align: center;
	bottom: 10px;

}

.main-menu .navigation > li:hover > a:after{
	opacity:1;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:120%;
	width:200px;
	padding:0px;
	z-index:100;
	display:none;
	background:#ffd71b;
	border:1px solid rgba(0,0,0,0.50);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.theme-green .main-menu .navigation > li > ul{
	background:#0798BC;	
}

.theme-green .main-menu .navigation > li > ul{
	background: rgb(15, 38, 58) none repeat scroll 0 0;	
}

.main-menu .navigation > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 20px;
	line-height:24px;
	font-weight:400;
	font-size:13px;
	text-transform:capitalize;
	color:#333333;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.theme-green .main-menu .navigation > li > ul > li > a,
.theme-green .main-menu .navigation > li > ul > li > a{
	color:#ffffff;	
}

.main-menu .navigation > li > ul > li:hover > a{
	background:rgba(255,255,255,0.20);
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f061";
	position:absolute;
	right:10px;
	top:15px;
	width:10px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:10px;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;	
}

.main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:120%;
	top:0px;
	width:200px;
	padding:0px;
	z-index:100;
	display:none;
	background:#ffd71b;
	border:1px solid rgba(0,0,0,0.50);
}

.theme-green .main-menu .navigation > li > ul > li > ul{
	background:#0798BC;	
}

.theme-green .main-menu .navigation > li > ul > li > ul{
	background:#73a702;	
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li  > ul > li > a{
	position:relative;
	display:block;
	padding:8px 20px;
	line-height:22px;
	font-weight:400;
	font-size:13px;
	text-transform:capitalize;
	color:#333333;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.theme-green .main-menu .navigation > li > ul > li  > ul > li > a{
	color:#ffffff;	
}

.theme-green .main-menu .navigation > li > ul > li  > ul > li > a{
	color:#ffffff;	
}

.main-menu .navigation > li > ul > li  > ul > li:hover > a{
	background:rgba(255,255,255,0.20);
	color:#ffffff;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top:100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	left:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:11px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	background:url(../images/icons/submenu-icon.png) center center no-repeat;
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
}

/*** 

====================================================================
	8.Slider Style
====================================================================

 ***/
.slider-title {
    font-size: 72px;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
    line-height: 80px;
}

.main-title {
    font-size: 180px;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
    opacity: 0.15;
    text-transform: uppercase;
    line-height: 48px;
}
.slider-btn {
    color: #fff !important;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 20px;
    text-transform: uppercase;
}

.slider-btn:hover {
    color: #333 !important;
    background-color: #0798BC;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    transition:all 500ms ease; 
}


/*** 

====================================================================
	9.About style One
====================================================================

***/

.welcome-title {
	text-align: center;
}

.welcome-title h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}
.welcome-title h1 span {
	color: #0798BC;
}

.theme-btn {
    background-color: #333;
    border-radius: 0px;
    color: #fff;
    padding: 9px 22px;
    font-family: 'Roboto Slab', serif;
}

.theme-btn:hover {
    background-color: #0798BC;
    color: #fff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.about-item h5 {
	letter-spacing: 1px;
	margin: 15px 0 5px 0;
	text-transform: uppercase;
}
.about-item h5 a:hover {
	color: #0798BC;
}

.about-item .image{
	position:relative;
	overflow:hidden;
}

.about-item .image img{
	position:relative;
	display:block;
	width:100%;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.about-item .image .lightbox-image{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	opacity:0;
	color:#ffffff;
	background:rgba(7,152,188,0.8);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.about-item .image .lightbox-image span{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-10px;
	display:block;
	width:100%;
	height:20px;
	line-height:20px;
	font-size: 30px;
}

.about-item .image:hover .lightbox-image{
	opacity:1;
}


.about-list li {
    padding-top:12px;
    font-style: italic;
    font-family: 'PT Serif', serif;
}

.about-list li:first-child {
    padding: 0;
}

.about-list li i {
    color: #0798BC;
    margin-right: 15px;
}


.about-2 li {
    float: left;
    width: 48%;
    margin-right: 10px;
    padding-bottom: 20px;
}

.about-title-2 h6 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-family:'Roboto Slab',sans-serif;
}
.about-title-2 h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
}
.about-title-2 h1.intro-title {
    font-size: 46px;
    line-height: 1.4em;
}

/*** 

====================================================================
	3.Working Time
====================================================================

 ***/


ul.hours_wigdet li {
    border-bottom: 2px dotted #0798BC;
    color: #0d0d0d;
    font-size: 14px;
    padding: 13px 0;
}
ul.hours_wigdet li > span {
    float: right;
}

/* Call-to-action*/

.call-to-action {
    background-attachment: fixed;
    background-color: #0798BC;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 38px 0;
    position: relative;
}

.bg3 {
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 20px;
}

.contact-img {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.bg4 {
    background-image: url("images/bg/img-tree.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.bg4 h2 {
	text-transform: uppercase;
    font-size: 120px;
    color: #F9f9f9;
    position: absolute;
    top: -120px;
    left: 50px;
    font-family:'Roboto Slab',sans-serif;
}

.about-3 {
    background-color: rgba(255,255,255, 0.85);
    padding: 40px;
    -webkit-box-shadow: 1px 2px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
}

.about-3 h3 {
    font-family: 'PT Serif', serif;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}
.about-3 p {
    margin-top: 12px;
}

.parallux-section  h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #fff;
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 30px;
}

/*feature-border*/

.service-block {
    margin: 30px 0;
    position: relative;
}
.service-block .inner-box {
    padding-left: 90px;
    position: relative;
}
.service-block .inner-box .icon-box {
    background: rgba(0, 0, 0, 0) url("../images/icons/service-icon-1.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 60px;
    left: 0;
    line-height: 58px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
}
.service-block .inner-box .icon-box::after {
    background: rgba(0, 0, 0, 0) url("../images/icons/service-icon-1-bg.png") no-repeat scroll 0 0;
    content: "";
    height: 60px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.7s ease 0s;
    width: 70px;
    z-index: -9;
}
.service-block .inner-box:hover .icon-box::after {
    color: #ffffff;
    opacity: 1;
    transition: all 0.7s ease 0s;
}
.service-block .inner-box:hover .icon-box span {
    color: #ffffff !important;
    position: relative;
    z-index: 99;
}
.service-block .inner-box .icon-box span {
    color: #30577c;
    font-size: 30px;
}
.service-block .inner-box h3 {
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -10px;
}

/*** 

====================================================================
	10.Work Secction
====================================================================

***/

.work {
    position: relative;
}

.work-time .border {
    border: 1px solid #696867;
    padding: 20px;
    padding-left: 40px;
}

.work-time {
    background-color: #3f3a36;
    padding: 30px;
}

.work-time h3 {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
}

.work-time h3 span {
    color: #0798BC;
}

.work-time li {
    color: #FFF;
    padding: 10px;
}

.work-time li:hover {
    background-color: #0798BC;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}

.work-time li span {
    float: right;
    padding-right: 30%;
}

.work-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -60px;
}


/*** 

====================================================================
	11.Service Section
====================================================================

***/
.service-item {
	margin-bottom: 30px;
}

.service-item h5 {
	margin: 25px 0 5px 0;
	text-transform: uppercase;
}



.service-item:hover h5 a {
	color: #0798BC;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.service-item i {
	color: #0798BC;
}

.service-1 {
    position: relative;
}
.border-nn {
    position: absolute;
    top: 12%;
    border: 1px solid #0798BC;
    width: 70%;
    left: 25%;
    height: 100%;
}

.services-details .content p {
    margin-top: 20px;
}

.service-1 h4 {
    color: #0798BC;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'PT Serif', serif;
}
.service-1 h6 {
    color: #bcbcbc;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    margin-top: 40px;
}

.service-item i {
	font-size: 60px;
	margin-top: 40px;
	display: block;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.service-item:hover i {
	color: #0798BC;
}

.service-item.effect-border i {    
	border: 2px solid #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    font-size: 44px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    width: 100px;
}
.service-item.effect-border:hover i {
	border: 2px solid #0798BC;
}


/*********

**********/
.service-box.style-1 {
    color: #fff;
    padding: 40px 25px;
    position: relative;
    text-align: center;
    transform: translateZ(0px);
    z-index: 1;
    margin-bottom: 30px;
}
.service-box.style-1::before, .service-box.style-1::after {
    bottom: 0;
    content: "";
    left: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 3;
}
.service-box.style-1::before {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}
.service-box.style-1::after {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}
.service-box.style-1 .service-box-overlay {
    background-color: #0798BC;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
}
.service-box.style-1:hover .service-box-overlay {
    background-color: #0798BC;
    opacity: 0.9;
}
.service-box.style-1 > i {
    color: #FFF;
    display: block;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 15px;
    position: relative;
    z-index: 4;
}
.service-box.style-1 .service-box-content {
    position: relative;
    z-index: 4;
}
.service-box.style-1 .service-box-content a {
    color: #FFF;
}
.service-box.style-1 .service-box-content h5 {
    text-transform: uppercase;
}
.service-box.style-1:hover::before {
    transform: scaleY(1);
}
.service-box.style-1:hover::after {
    transform: scaleX(1);
}

/*
Medical Service
*/
.med-icon {
	margin-bottom: 40px;
}
.med-icon .icofont {
	font-size: 40px;
}

.med-icon .icon{
	position:relative;
}

.med-icon .inner-box{
	position: relative;	
	max-width: 500px;
	margin: 0 auto;
	padding-left: 60px;	
}

 .med-icon .icon{
	position:absolute;
	left: 0;
	top: 8px;
	color: #0798BC;
	width:80px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.med-icon .inner-box:hover .icon {
	top: 20px;
}

.border-width {
    border-bottom: 1px solid #0798BC;
    width: 260px;
    position: absolute;
    left: -28%;
    top: 27%;
}


.vertical-tab .nav-tabs > li {
  float: none;
  margin-bottom: 0;
}

.vertical-tab .nav-tabs>li>a {
    margin-bottom: 5px;
    background-color: #f4f6f8;
    color: #838383;
    border-radius: 0;
    font-weight: 600;
    font-style: italic;
}

.vertical-tab .nav-tabs>li>a span {
    font-size: 15px;
    margin-right: 10px;
}

.vertical-tab .nav-tabs>li.active>a,
.vertical-tab .nav-tabs>li.active>a:focus,
.vertical-tab .nav-tabs>li.active>a:hover,
.vertical-tab .nav-tabs>li>a:hover,
.vertical-tab .nav-tabs>li>a .active,
.vertical-tab .nav-tabs>li>a:focus
 {
    background-color: #0798BC;
    color: #FFF;
}
.vertical-tab .nav-tabs {
    border-bottom:0;
}

/*** 

====================================================================
	12.FAQ Section 
====================================================================

***/

.faq-default-content.faq-content {
  margin-top: -10px;
}
.faq-content .panel-group .panel {
  border-radius: 0;
  margin-top: 10px;
}
.faq-content .panel-group .panel {
  background: #fff none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
}
.faq-content .panel-group .panel.panel-default {
  border: medium none;
}
.faq-content .panel-group .panel.panel-default .panel-heading {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6e8ed;
  height: 47px;
  padding: 15px 0;

}
.faq-content .panel-group .panel.panel-default .panel-heading .panel-title a {
  color: #333;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding-left: 65px;
  line-height: 1.6;
  position: relative;
}
.faq-content .panel-group .panel.panel-default .panel-heading .panel-title a::after {
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 20px;
  height: 47px;
  left: -1px;
  padding: 9px 15px;
  position: absolute;
  top: -16px;
  width: 47px;
  background: #0798BC;
}
.faq-content .panel-group .panel.panel-default .panel-heading .panel-title a.collapsed:after {
  border: 1px solid #e6e8ed;
  border-right: 0;
  color: #0798BC;
  content: "";
  font-family: fontawesome;
  font-size: 20px;
  height: 47px;
  left: -1px;
  padding: 9px 15px;
  position: absolute;
  top: -16px;
  width: 47px;
  background: #FFF;
}


.faq-content .panel-group .panel.panel-default .panel-collapse .panel-body {
  border-top-color: #fff;
  padding-bottom: 14px;
  padding-top: 17px;
}
.faq-content .panel-group .panel.panel-default .panel-collapse .panel-body .panel_body_up p {
  color: #8b8b8b;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
/*** 

====================================================================
	13.pricing Section 
====================================================================

***/
.price-table {
	margin-bottom: 30px;
}
.price-content {
    text-align: center;
    position: relative;
}
.price-table-top  {
    background-color: #0798BC;
}

.price-box-price-info p{
    padding: 15px;
    line-height: 30px;
}
.price-table-top h3 {
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}


.price-box-price-info .price-box {
	position: relative;
}

.price-box-price-info .price-box::before {
	background: rgba(15, 38, 58,.8);
	position: absolute;
	content: '';
	height: 100%;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
}
.price-box {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  padding: 40px;
}
.price-box .price {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
.price-box .amount {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
    position: relative;
    padding:10px 20px;
    font-family: 'Roboto Slab', serif;
}


.price-box span.symbol {
    position: absolute;
    left: 33%;
    top: 100px;
}


/*** 

====================================================================
	14.Progress Levels Section
====================================================================

 ***/

.progress-levels {
	margin-top: 20px;
	margin-bottom: 20px;
}

.progress-levels .progress-box{
	position:relative;
	margin-bottom:25px;
	overflow:hidden;	
}

.progress-levels .progress-box:last-child{
	margin-bottom:0px;	
}

.progress-levels .progress-box:last-child{
	margin-bottom:0px;	
}

.progress-levels .progress-box .box-title{
	position:relative;
	font-size:18px;
	line-height:24px;
	color:#181818;
	text-transform:capitalize;
	margin-bottom:16px;
	font-family: 'Raleway', sans-serif;
}

.progress-levels .progress-box .bar{
	 position:relative;
	 height:10px;
	 background:#eeeeee;	
}

.progress-levels .progress-box .bar .bar-innner{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:4px;
}

.progress-levels .progress-box .bar .bar-fill{
	position:absolute;
	left:-100%;
	top:0px;
	width:0px;
	height:10px;
	background:#0798BC;
	-moz-transition:all 2000ms ease 300ms;
	-webkit-transition:all 2000ms ease 300ms;
	-ms-transition:all 2000ms ease 300ms;
	-o-transition:all 2000ms ease 300ms;
	transition:all 2000ms ease 300ms;
}

.progress-levels .progress-box.animated .bar .bar-fill{
	left:0px;	
}

.progress-levels .progress-box .percent{
	position:absolute;
	right:0px;
	top:-40px;
	letter-spacing:0px;
	font-size:18px;
	color:#181818 !important;
	font-family: 'Roboto Slab', serif;
	line-height:24px;
	opacity:0;
	-moz-transition:all 2000ms ease 700ms;
	-webkit-transition:all 2000ms ease 700ms;
	-ms-transition:all 2000ms ease 700ms;
	-o-transition:all 2000ms ease 700ms;
	transition:all 2000ms ease 700ms;
}

.progress-levels .progress-box.animated .percent{
	opacity:1;	
}

.appointment {
  margin-top: 15px;
}
.appointment h2 {
  text-transform: uppercase;
}
.appointment h2 span {
  color: #0798BC;
}
.appointment p {
  margin-bottom: 30px;
}

.appointment-head {
	background: #0798BC;
	padding: 20px;
	text-align: center;
	color: #FFF;
}
.appointment-form {
    border: 2px solid #eeeeee;
    border-top-width: 0;
    background: #fafafa;
}

hr {

    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    height: 6px;
    margin-top: 30px;
}
.call-to-action-boxed .call-to-action-corner:nth-child(2) {
    padding: 50px 0;
}

.call-to-action-corner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}
.call-to-action-corner::before {
    background: rgba(7,152,188,.9) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.call-to-action-center::before {
    background: rgba(4,91,122,.9) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.single-call-to-action {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 250px;
    position: relative;
    text-align: center;
}
.single-call-to-action .icon-box, .single-call-to-action .content-box {
    display: inline-block;
    vertical-align: top;
}
.single-call-to-action .icon-box {
    bottom: 15px;
    position: relative;
    width: 50px;
}
.single-call-to-action .icon-box i.flaticon-clock {
    bottom: 20px;
    position: relative;
}
.single-call-to-action .icon-box i.flaticon-medical {
    bottom: 25px;
    position: relative;
}
.single-call-to-action .icon-box i.flaticon-coins {
    bottom: 15px;
    position: relative;
}
.single-call-to-action .icon-box i::before {
    color: #fff;
    font-size: 50px;
}
.single-call-to-action .content-box {
    padding-left: 40px;
    text-align: left;
    width: 65%;
}
.single-call-to-action .content-box h3 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.single-call-to-action .content-box p {
    color: #fff;
    line-height: 24px;
}
.single-call-to-action .content-box ul {
    margin: 0;
    padding: 0;
}
.single-call-to-action .content-box ul li {
    -moz-box-pack: justify;
    color: #fff;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    list-style: outside none none;
}
.single-call-to-action .content-box .thm-btn.inverse {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    padding: 7px 22px;
}
.single-call-to-action .content-box .thm-btn.inverse:hover {
    background: #fff none repeat scroll 0 0;
    color: #186aab;
}
.call-to-action.boxed .single-call-to-action .content-box {
    width: 70%;
}

.home-banner-text {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 auto;
	color: #FFF;
}

/*** 

====================================================================
	15.Team Section
====================================================================

***/
.team-item h4 a {
    color: #fff;
    font-family: 'PT Serif', serif;
}

.team-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px !important;
}
.team-item p {
    text-transform: uppercase;
    line-height: 16px;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

.team-item .img-title {
    background-color: #0798BC;
    bottom: 0;
    opacity: 0.9;
    position: absolute;
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #FFF;
}



.team-item .team-img:before {
	background-color: rgba(0, 0, 0, 0.80);
	content: " ";
	height: 100%;
	left: 0%;
	position: absolute;
	top: -99%;
	opacity: 0;
	width: 100%;
	z-index: 0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}
.team-item .team-img:after {
	background-color: rgba(0, 0, 0, 0.80);
	content: " ";
	height: 100%;
	left: 0%;
	position: absolute;
	top: -99%;
	opacity: 0;
	width: 100%;
	z-index: 0;
}
.team-item:hover .team-img:after {
	top: 0;
	opacity: 1;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}
/*.team-item:hover .team-img:before {
	top: 0;
	opacity: 1;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}*/


.team-icon {
  position: absolute;
  margin: auto;
  top: -38%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}
.team-item:hover .team-icon {
  position: absolute;
  top: 38%;
  opacity: 1;
  margin: auto;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

.team-icon ul li {
    display: inline-block;
}

.team-icon ul li a {
    background-color: #333;
    font-size: 22px;
    padding: 5px 8px;
    color: #fff;
}
.team-icon ul li a:hover {
    background-color: #0798bc;
    color: #fff;
}


.zeep img {
    position: absolute;
    right: 1%;
    width: 22%;
    top: 25%;
}

.team-content h2 {
	line-height: 1;
	text-transform: uppercase;
}
.team-content h5 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 20px;
}
.team-content {
	border-left: 1px solid #eee;
	padding-left: 30px;
}

.team-contact  {
	padding-top: 15px;
}
.team-contact ul li a {
	font-size: 24px;
}


.zeep img {
    position: absolute;
    right: 1%;
    width: 22%;
    top: 25%;
}

.team-content h2 {
	line-height: 1;
	text-transform: uppercase;
}
.team-content h5 {
	color: #0798BC;
	font-weight: 300;
	margin-bottom: 20px;
}
.team-content {
	border-left: 1px solid #eee;
	padding-left: 30px;
}

.team-contact  {
	padding-top: 15px;
}
.team-contact ul li a {
	font-size: 24px;
}


/*** 

====================================================================
	16.Fact Counter
====================================================================

***/

.fact-counter{
	position:relative;
}

.fact-counter.overlayer {
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

.coun-icon {
	font-size: 35px;
	padding-right: 15px;
	padding-top: 15px;
}

.fact-counter .counter-column{
	position:relative;
}

.fact-counter .counter-column:last-child:after{
	display:none;	
}

.fact-counter .counter-column .count-outer{
	font-size:36px;
	margin-bottom:5px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
}

.fact-counter .counter-column .count-outer span{
	display:inline-block;    
	line-height: 50px;
    font-size: 45px;	
}

.fact-counter .counter-column .count-outer .icon{
	position:relative;
	top:-3px;
	display:inline-block;
	font-size:40px;
	color:#ffd71b;
	line-height:60px;
	padding-right:20px;
}

.theme-green .fact-counter .counter-column .count-outer .icon{
	color:#0798BC;
}

.fact-counter .counter-column .text h4{
	font-size:24px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing:1.5px;
	font-weight: normal;
}

.fact-counter.style-two .counter-column .count-outer,
.fact-counter.style-two .counter-column .count-outer .icon,
.fact-counter.style-two .counter-column .text{
	color:#ffffff;	
}

.fact-counter.style-two.extended .sec-title h2{
	color:#ffffff;	
}
.count-text {
	font-weight: bold;
}

.count-text::after {
  border-left: 1px dashed;
  content: "";
  height: 75%;
  left: 0;
  position: absolute;
  top: 15%;
  width: 1px;
}



/*** 

====================================================================
	17.BLog Section Style
====================================================================

***/
.post-info a {
    color: #bcbcbc;
    font-family: 'Roboto Slab', serif;
}
.post-info a:hover {
    color: #0798BC;
}
.post h3 {
    font-family: 'PT Serif', serif;
    line-height: 34px;
    padding-bottom: 10px;
    padding-top: 5px;
    letter-spacing: 0;
}

.post-body {
  display: table-cell;
  padding-top: 20px;
}

.blog-effect {
  clear: both;
}

.post-info a span {
	font-size: 14px;
}

.post figure {
  overflow: hidden;
}

.blog-effect figure {
  position: relative;
}
.blog-effect figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(7,152,188,0) 0%, rgba(7,152,188,.3) 100%);
  background: linear-gradient(to right, rgba(7,152,188,0) 0%, rgba(7,152,188,.3) 100%);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
.post:hover .blog-effect figure::before {
	-webkit-animation: shine 2s;
  	animation: shine 2s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}



/*** 

====================================================================
	17.Contact Section
====================================================================

***/

.contact-form h2{
	font-size:30px;
	color:#333333;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:25px;
	font-weight:700;	
}

.form-control {
    height: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    background-color: #f6f7f3;
    font-family: 'Roboto Slab', serif;
}
.contact-form h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.contact-1 {
	position: relative;
}

.contact-1 h2,
.contact-2 h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 36px;
    margin-bottom: 20px;
}
.contact-1 h2 span,
.contact-2 h2 span {
    color: #0798BC;
}

.contact-item {
    padding: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(240,240,240,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(240,240,240,1);
    box-shadow: 0px 0px 8px 0px rgba(240,240,240,1);
}

.contact-item h5 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-item .content {
    float: left;
}
.contact-item span {
    font-size: 72px;
    color: #f0f0f0;
    margin-top: 25px;
    float: right;
}



/*** 

====================================================================
	18.Sidebar
====================================================================

***/

.sidebar-title::after {
    border: 1px solid #afafaf;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100px;
}
.sidebar-title {
    padding-bottom: 10px;
    position: relative;
}

.sidebar .sidebar-title{
	position:relative;
	margin-bottom:20px;	
}

.sidebar .sidebar-title h2{
	color:#333333;
	font-weight:600;
	text-transform:capitalize;
	font-size:18px;
	font-family: 'PT Sans', sans-serif;
}

.sidebar .sidebar-widget{
	position:relative;
	padding: 30px;
}

.sidebar .search-box .form-group{
	position:relative;
	margin:0px;	
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
	position:relative;
	line-height:24px;
	padding:10px 50px 10px 20px;
	border:1px solid #e9e9e9;
	background:#ffffff;
	color:#3a3a3a;
	display:block;
	width:100%;
	height:46px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sidebar .search-box .form-group input:focus{
	border-color:#0798BC;	
}

.sidebar .search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	height:46px;
	width:50px;
	line-height:46px;
	text-align:center;
	display:block;
	font-size:15px;
	color:#fff;
	background:#0798BC;
}

.sidebar .search-box .form-group input:focus + button,
.sidebar .search-box .form-group button:hover{
	background-color:#0798BC;
	color:#ffffff;
}

.sidebar .sidebar-title h3{
	font-size:18px;
	color:#2c2c2c;
	font-weight:700;
	text-transform:uppercase;
}

.sidebar .popular-posts .post{
	position:relative;
	font-size:14px;
	color:#cccccc;
	padding:15px 0 5px 90px;
	min-height:70px;
}

.sidebar .popular-posts .post:last-child{
	border-bottom:none;
}

.sidebar .popular-posts .post .post-thumb{
	 position:absolute;
	 left:0px;
	 top:12px;
	 width:70px;
	background:#333333;	
}

.sidebar .popular-posts .post:hover .post-thumb img{
	opacity:0.50;
}

.sidebar .popular-posts .post .post-thumb img{
	display:block;
	width:100%;
}

.sidebar .popular-posts .post h4{
	font-size:14px;
	margin:0px;
	line-height:1.4em;
	color:#666666;
	font-family:'Roboto',serif;	
}

.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover{
	color:#0798BC;	
}

.sidebar .popular-posts .post h4 a{
	color:#666666;	
}

.sidebar .popular-posts .post-info{
	font-size:14px;
	color:#bcbcbc;
	font-family:'Roboto Slab',serif;	
}

.sidebar .popular-tags a{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:5px 18px;
	margin:0px 4px 12px 0px;
	color:#fff;
	background-color: #000;
	text-align:center;
	font-size:14px;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.sidebar .popular-tags a:hover{
	background-color:#0798BC;
	color:#fff;	
}

.sidebar .archives-list{
	position:relative;
}

.sidebar .archives-list li{
	position:relative;
	line-height:24px;
	padding:10px 0px;
}

.sidebar .archives-list li:last-child{
	border-bottom:none;
	padding-bottom:0px;
}

.sidebar .archives-list a{
	position:relative;
	display:block;
	color:#666666;
	font-size:14px;
	font-weight:400;
	line-height:24px;
}

.sidebar .archives-list a:hover{
	color:#0798BC;
}

.sidebar-widget.search-box span{
	font-size: 16px;
}


.flickr-feed ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.owl-carousel .overlay {
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
    height: 100%;
    position: absolute !important;
    width: 100%;
    z-index: 2;
}
.no-border-radius {
    border-radius: 0 !important;
}


/*** 

====================================================================
	19.Main Footer
====================================================================

***/

.main-footer {
	background-color: #3f3a36;
}


.main-footer .footer-1 p {
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-footer .social li {
    display: inline-block;
    padding-right: 10px;
}

.main-footer .social li a:hover {
    color: #0798BC;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}
.main-footer .social li a span {
    color: #0798BC;
    font-size: 11px;
    text-transform: uppercase;
}
.main-footer h4 {
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 20px;
}

.footer-2 p,
.main-footer h4,
.social li a,
.footer-3 p {
	color: #FFF;
}
.footer-2 p { 
	border-bottom: 1px solid #5a5856;
	padding-bottom: 18px;
}

.footer-3 p span {
    color: #0798BC;
    font-weight: 600;
}

.footer-3 p {
	padding-bottom: 5px;
}

.main-footer .copyright {
	text-align: center;
	color: #FFF;
	padding-bottom: 50px;
}
.main-footer .copyright a {
	color: #0798BC;
}


/*** 

====================================================================
	20.Home about Two column
====================================================================

***/


.two-col-fluid {
    background-attachment: fixed;
    background-color: rgba(147, 180, 3, 0.86);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.two-col-fluid::before {
    background-color: rgba(147, 180, 3, 0.86);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.two-col-fluid .auto-container {
    position: relative;
    z-index: 2;
}

.two-col-fluid{
	position:relative;
	padding:50px 0px 50px;
	color:#ffffff;
	background-color:#242424;
}

.two-col-fluid .bg-grey{
	background-color: #fff;
    height: 101%;
    position: absolute;
    right: 153px;
    top: 0;
    width: 23%;
	transform:skewX(-25deg);
	-webkit-transform:skewX(-25deg);
	-moz-transform:skewX(-25deg);
	-ms-transform:skewX(-25deg);
	-o-transform:skewX(-25deg);
}
.two-col-fluid .bg-image{
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}
.two-col-fluid .auto-container{
	position:relative;
	z-index:2;	
}

/***

Bx Slider

***/
.bx-wrapper {
	margin: 0;
	position: relative;
}
.bx-wrapper::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	top: 0;
}
.bx-wrapper .bx-viewport {
    background: transparent;
    border: transparent;
    box-shadow: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 0;
	z-index: 1;
}



/*** 

====================================================================
	21.Testimonials style Three
====================================================================

***/

.testimonial {
	padding-bottom: 70px;
}
.testimonial-item p {
    font-family: 'Roboto Slab', serif;
    margin-top: 25px;
}


.testimonial-item .content {
    padding-top: 30px;
}

.testimonial-item .content img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid #c5d67d;
    width: 100px;
    height: 100px;

}
.testimonial-item .content h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 17px;
}

.testimonial-item .content p {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #0798BC;
    margin-top: 0;
}

.testimonial-item i {
    font-size: 48px;
}

.owl-nav {
    position: absolute;
    bottom: -80px;
}

.owl-next {
	margin-left: 15px;
}
.owl-prev,
.owl-next {
    background: transparent !important;
    border: 1px solid #0798BC !important;
    color: #0798BC !important;
    border-radius: 0 !important;
    padding: 4px 30px !important;
    font-size: 20px !important;
	float: left;
}

.owl-prev:hover,
.owl-next:hover {
    background: #0798BC !important;
    color: #FFF !important;
    border: 1px solid #0798BC !important;
}

/*** 

====================================================================
	22.Gallery Style One
====================================================================

***/

.gallery{
	position:relative;
}

.gallery-title h2 span {
	color: #0798BC;
}

.gallery .section-title h2,
.gallery .section-title p {
	color: #fff;
}

.gallery .section-title p {
	margin-bottom: 15px;
}
.bg-light-grey{
	background-color:#f8f8f8;	
}

/*
====================================================================
    portfolio css start
====================================================================
*/
.cs-portfolio-area,
.cs-portfolio-area-two {
    padding: 80px 0 50px;
}
.portfolio {
    margin: 20px 0;
}

.portfolio .portfolio-item {
    float: left;
}

.portfolio .portfolio-item .thumb {
    position: relative;
}

.portfolio .portfolio-item .thumb img{
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 5px solid rgba(7,152,188, 0.5);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.portfolio-item:hover .portfolio-hover,
.portfolio-item:hover .portfolio-hover .portfolio-info,
.portfolio-item:hover .portfolio-hover .portfolio-btn {
    opacity: 1;
}


.portfolio-item:hover .portfolio-hover .portfolio-info {
    bottom: 60%;
    margin-bottom: -90px;
}

.portfolio-item:hover .portfolio-hover .portfolio-btn {
    top: 44%;
    margin-top: -55px;
}

.portfolio-hover .portfolio-info {
    position: absolute;
    bottom: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}


.portfolio-hover .portfolio-btn {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 24px;
}

.portfolio-info,
.portfolio-info h4 a,
.portfolio-hover .portfolio-btn a {
    text-align: center;
    color: #222;
}

.portfolio-info h4 {
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-info p {
    font-size:12px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-info a,
.portfolio-title a {
    color: #757575;
}

/*gutter*/

.portfolio.gutter .portfolio-item {
    padding: 10px;
}


/*portfolio 2 grid*/

.portfolio.col-2 .portfolio-item {
    width: 49.99%;
}


/*portfolio 3 grid*/

.portfolio.col-3 .portfolio-item {
    width: 33.3333333%;
}

/*portfolio 4 grid*/

.portfolio.col-4 .portfolio-item {
    width: 24.98%;
}

/*portfolio 5 grid*/

.portfolio.col-5 .portfolio-item {
    width: 19.99%;
}

/*portfolio 6 grid*/

.portfolio.col-6 .portfolio-item {
    width: 16.666666667%;
}

.portfolio-filter {
    margin:0px;
    padding: 20px;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
}

.portfolio-filter li a {
    color: #1e1e1e;
    margin: 0 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}


.portfolio-filter li a:hover,
.portfolio-filter li.active a{
    color: #FFF;
    background-color: #0798BC;
}

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    border: medium none;
    outline: medium none;
}
.flex-control-nav {
    border: medium none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flex-direction-nav {
    display: none;
}
.flexslider {
    margin: 0;
    padding: 0;
    position: relative;
}
.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease 0s;
}
.flex-control-nav {
    bottom: 15px;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    z-index: 10;
}
.flex-control-nav li {
    display: block;
    float: left;
    height: 10px;
    margin: 0 3px;
    width: 10px;
}
.flex-control-nav li a {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    text-indent: -9999px;
    transition: all 0.3s ease-in-out 0s;
    width: 10px;
}
.flex-control-nav li:hover a, .flex-control-nav li a.flex-active {
    background-color: #fff;
}
.flex-direction-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flex-direction-nav {
}
.flex-direction-nav a {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: -40px 0 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 200;
}
.flex-direction-nav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.flex-direction-nav a::before {
    color: #fff;
    content: "";
    display: block;
    font-family: "fontawesome";
    font-size: 16px;
    text-align: center;
    width: 40px;
}
.flex-direction-nav a.flex-next::before {
    content: "";
}
.flex-direction-nav .flex-prev {
    left: 0;
}
.flex-direction-nav .flex-next {
    right: 0;
    text-align: right;
}
.post-slider-thumb .flex-control-thumbs {
    left: auto;
    margin: 0 auto;
    position: relative;
    right: auto;
    text-align: left;
    top: 10px;
    z-index: 10;
}
.post-slider-thumb .flex-control-thumbs li {
    cursor: pointer;
    display: inline-block;
    float: none;
    height: auto;
    margin: 0 3px 0 0;
    width: 80px;
}
.post-slider .flex-direction-nav, .post-slider-thumb .flex-direction-nav {
    display: block;
}
.post-slider .flex-direction-nav .flex-prev, .post-slider .flex-direction-nav .flex-next, .post-slider-thumb .flex-direction-nav .flex-prev, .post-slider-thumb .flex-direction-nav .flex-next {
    opacity: 0;
}
.post-slider:hover .flex-direction-nav .flex-prev, .post-slider:hover .flex-direction-nav .flex-next, .post-slider-thumb:hover .flex-direction-nav .flex-prev, .post-slider-thumb:hover .flex-direction-nav .flex-next {
    opacity: 1;
}
.post-list-aside .post-img img {
    border: 2px solid transparent;
}
.post-list-aside .post-img img.flex-active {
    border: 2px solid rgba(0, 0, 0, 0.8);
}
.post-slider .flex-control-thumbs {
    display: none;
}
 

.project-description i {
	font-size: 14px;
}

/*** 

====================================================================
	23.Gallery style Two
====================================================================

***/


.default-gallery-item{
	position:relative;
	padding:0px;
}

.default-gallery-item .inner-box{
	position:relative;
	display:block;
	overflow:hidden;	
}


.default-gallery-item .image-box{
	position:relative;
	display:block;	
}

.default-gallery-item .image-box img{
	position:relative;
	display:block;
	width:100%;
}

.default-gallery-item .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(7,152,188,0.9);
	color:#ffffff;
	opacity:0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	-moz-transform:scale(0);
	transform:scale(0);
}

.default-gallery-item .inner-box:hover .overlay-box{
	opacity:1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);	
}

.default-gallery-item .overlay-inner{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	padding:10px 30px;
}

.default-gallery-item .overlay-inner .content{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}

.default-gallery-item .overlay-inner h3{
	font-size:18px;
	color:#ffffff;
	letter-spacing:1px;
	text-transform:uppercase;
    font-family: 'PT Serif', serif;
}
.default-gallery-item .overlay-inner p{
	font-size:10px;
	color:#FFF;
	text-transform:uppercase;
    font-family:'Roboto Slab',sans-serif;
    font-weight: 600;
    font-style: italic;
}


.default-gallery-item .overlay-inner h3 a{
	color:#ffffff;	
}

.default-gallery-item .overlay-inner .image-link{
	position:relative;
	display:block;
	font-size:20px;
	color:#ffffff;
	margin-bottom:20px;
}


.default-gallery-item .overlay-inner .image-link .icon{
	display:inline-block;
	font-size: 30px;
}




.menu_list ul {
    text-align: center;
    padding-bottom: 30px;
}
.menu_list ul li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    border:1px solid transparent;
    line-height: 27px;
    padding:0 33px;
    margin-right:10px;
    cursor:pointer;
    margin-top:10px;
    color: #fff;
    text-transform: uppercase;
}

.menu_list ul li.filter:hover,
.menu_list ul li.filter:focus,
.menu_list ul li.filter.active {
    color: #0798BC;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.menu_list ul li {
    position: relative;
}
.menu_list ul li.filter.active:after {
  background: #0798BC none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 30px;
  width: 50px;
}



/*** 

====================================================================
	22.What We can offer & Latest Project
====================================================================

***/

.small-line {
	position: relative;
}

.small-line::after {
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #0798BC;
}
.testimonial {
	background: #f9f9f9;
}

/*** 

====================================================================
	24.Latest Project
====================================================================

***/


.latest-project .img-box, .latest-project .content-box {
    display: table-cell;
}
.latest-project .img-box,.latest-project img {
    position: relative;
}
.latest-project .content-box {
    padding-left: 20px;
    vertical-align: top;
}
.latest-project .content-box h3 {
    color: #272727;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 6px;
    transition: all 0.5s ease 0s;
}

.latest-project img:after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: black;
}

.construction-deatils li a {
	font-size: 10px;
	font-weight: 600;
}
.construction-deatils li {
	line-height: 15px;
}
.construction-deatils li i {
	font-size: 10px;
	margin-right: 5px;
	color: #0798BC;

}
.latest-project .items {
	margin-bottom: 30px;
}


/*** 

====================================================================
	24.Featured Menu Style
====================================================================

***/
.featured-box i {
    font-size: 45px;
    // float: left;
    margin-right: 20px;
}

.featured-box h5 {
    margin-top:11px;
    text-transform: uppercase;
}

.featured-box p {
    margin-top: 15px;
    color: #bcbcbc;
    padding-bottom: 10px;
}

.featured-box {
    padding:38px 10px 5px 25px;
    background: #FFF;
    margin-bottom: 30px;
}

.featured-box:hover i {
    color: #0798BC;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}


.featured-box:hover {
    -webkit-box-shadow: 1px 2px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	border-left: 1px solid #0798BC;
}


.featured-title h2 {
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 42px;
}

.featured-title h2 span {
	color: #333;
}

.featured-title p {
    color: white;
    font-size: 13px;	
    font-family: 'Roboto Slab', serif;
}

.featured-icon {
    margin-top: 30px;
    text-align: center;
}
.featured-icon i {
	font-size: 50px;
    color: #fff;
}
.featured-icon h4 {
    font-size: 20px;
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0;
}

.featured-icon h4:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    width: 65px;
    height: 1px;
    background: #FFF;
}
.featured-icon h4::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    width: 35px;
    height: 1px;
    top: 45px;
    background: #FFF;
}

.icon-box li {
    padding-right: 15px;
    padding-left: 0;
}


.featured-icon:hover span,
.featured-icon:hover h4 {
	color: #222;
	cursor: pointer;
	transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-webkit-transition:all 500ms ease-in-out;
	-ms-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;

}
.featured-icon:hover h4:before,
.featured-icon:hover h4:after {
	background-color: #222;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}


/*** 

====================================================================
	15.Our Departments
====================================================================

***/

.department-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.department-title {
	color: #FFF;
	position: absolute;
	bottom: -20px;
	left: 20px;
	padding-right: 20px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.department-title h6,.department-title a {
	color: #FFF;	
}
.department-title h6 {
	letter-spacing: 5px;
}

.department-item .thumb {
	position: relative;
}
.department-item .thumb:before {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	content: '';
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background: -webkit-linear-gradient(bottom,rgba(7,152,188,.7),rgba(0,0,0,0));
	background: -moz-linear-gradient(bottom,rgba(7,152,188,.7),rgba(0,0,0,0)); /* FF3.6-15 */
	background: linear-gradient(bottom,rgba(7,152,188,.7),rgba(0,0,0,0));
}
.department-item:hover .thumb::before {
	background: rgba(7,152,188,.9);
}
.department-item .department-dtls {
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	opacity: 0;
}
.department-item:hover .department-title,.department-item:hover .department-dtls {
	bottom: 20px;
	opacity: 1;
}


/*** 

====================================================================
	25.404 Section Style
====================================================================

***/

.error li h2 {
    font-size: 200px;
    letter-spacing: 1px;
    line-height: 1;
}

.error ul .zero {
    font-size: 72px;
    font-style: italic;
    background-color: #0798BC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-top: 50px;
    vertical-align: text-bottom;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}
.error h3 {
    font-size: 48px;
    color: #0798BC;
    font-style: italic;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}

/*** 

====================================================================
	26.inner Page style
====================================================================

***/
.inner-title h2 {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 1.3;
}

.inner-title p {
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

 .inner-blog-grid .post {
    padding-bottom: 30px;
}

.inner-blog-grid .post .post-info {
	margin-top: 20px;
}
.inner-blog-grid .post .post-body {
	padding-left: 0;
}

.inner-about .service-item img {
    float: left;
    width: 70px;
    height: 70px;
}

.inner-about .service-item .content {
    padding-left: 100px;
}

.inner-about .service-item {
    padding-bottom: 30px;
}


/*// blog-single*/
.inner-blog-single .post-title h3 {
    font-weight: 400;
    font-family: 'PT Serif', serif;
}

.inner-blog-single .media-left {
	padding-right: 30px;
}

.post .media-left {
	overflow: hidden; 
}

.post .media-left img {
	transition: all .2s ease-in-out;
}


.post:hover .media-left img {
	transform: scale(1.1);
}	



.inner-blog-single .post h3 {
    font-weight: 400;
}

.inner-blog-single .post .post-italic {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

blockquote {
    background-color: #f5f2eb;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 30px 17px;
    border-left: 0px;
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.inner-blog-single .post-list li i {
    color: #0798BC;
    margin-right: 15px;
}

.inner-blog-single .post-list {

    font-size: 14px;
}
.inner-service .about-item {
                margin-bottom: 30px;
            }

.comment-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
}

.inner-blog-single .comment-info p {
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    letter-spacing: 2px;
}

.inner-blog-single .post-share-options .social-posts {
    font-family: 'Lato', sans-serif;
    color: #bcbcbc;
}

.inner-blog-single .social-posts a span {
    color: #bcbcbc;
    padding: 10px;
    
    width: 32px;
    height: 32px;
}

.inner-blog-single .social-posts a span:hover {
    color: #fff;
    background-color: #0798BC;
    border-radius: 50%;
    line-height: 11px;
    text-align: center;
}

.inner-blog-single .inner-media {
    border-radius: 50%;
}

.inner-blog-single .post-body {
	padding-left: 0;
}

#contact_form span {
    color: #0798BC;
}

.inner-service .about-item {
    padding-bottom: 30px;
}


.post .blog-effect img,
.department-item .thumb img {
  width: 100%;
}

/*** 

====================================================================
	Map Section Style
====================================================================

***/
/*
// .map-section{
// 	position:relative;
// }

// .map-section .map-container{
// 	position:relative;
// 	height:450px;	
// }

// .map-section.extended .map-container{
// 	height:500px;	
// }

// .map-section .map-data{
// 	text-align:center;
// 	font-size:14px;
// 	font-weight:400;
// 	font-family:'Roboto',sans-serif;	
// }

// .map-section .map-data h6{
// 	font-size:18px;
// 	text-align:center;
// 	margin-bottom:5px;
// 	color:#2e2e2e;
// 	font-weight:700;
// 	font-family:'Roboto',sans-serif;	
// }

// .map-section {
//     position: relative;
//     background: #f6f6f6;
// }

// .google-map {
//     position: relative;
//     width: 100%;
//     height: 399px;
// }

// .map-section .content {
//     position: absolute;
//     bottom: -10px;
//     width: 100%;
// }

// .map-section .content p {
//     position: relative;
//     font-size: 13px;
//     font-weight: 400;
//     color: #999999;
//     line-height: 30px;
//     padding: 48px 30px;
//     background: #fff;
//     display: inline-block;
// }

// .map-section .content p b {
//     color: #808080;
// }
*/


/*** 

====================================================================
	27.Theme Margin And Padding
====================================================================

***/

/*Padding*/
.pn {
	padding: 0;
}
.p10 {
	padding: 10px;
}
.p20 {
	padding: 30px;
}
.p30 {
	padding: 30px;
}
.p40 {
	padding: 40px;
}
.p50 {
	padding: 50px;
}
.p60 {
	padding: 60px;
}
.p70 {
	padding: 70px;
}
.p80 {
	padding: 80px;
}
.p90 {
	padding: 90px;
}

/*// Padding None*/
.pln {
	padding-left: 0;
}
.prn {
	padding-right: 0;
}
.ptn {
	padding-top: 0 !important;
}
.pbn {
	padding-bottom: 0;
}

/*// Padding Top*/
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pt40 {
	padding-top: 40px;
}
.pt50 {
	padding-top: 50px;
}

.pt70 {
	padding-top: 70px;
}

/*// Padding Bottom*/
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb40 {
	padding-bottom: 40px;
}
.pb50 {
	padding-bottom: 50px;
}

/*// Margin Right*/
.prn {
	padding-right: 0;
}
.pr10 {
	padding-right: 10px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}
.pr40 {
	padding-right: 40px;
}
.pr50 {
	padding-right: 50px;
}

/*// Margin Right*/
.pln {
	padding-left: 0;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl40 {
	padding-left: 40px;
}
.pl50 {
	padding-left: 50px;
}

/*// Margin None*/
.mln {
	margin-left: 0;
}
.mrn {
	margin-right: 0;
}
.mtn {
	margin-top: 0;
}
.mbn {
	margin-bottom: 0;
}
/*// Margin Top*/
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: -50px;
	z-index: 99;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}

/*// Margin Bottom*/
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}


/*// Margin Right*/
.mrn {
	margin-right: 0;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}
.mr40 {
	margin-right: 40px;
}
.mr50 {
	margin-right: 50px;
}

/*// Margin Right*/
.mln {
	margin-left: 0;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.ml40 {
	margin-left: 40px;
}
.ml50 {
	margin-left: 50px;
}
.border-1 {
	border-color: #eee;
    border-style: solid;
    border-width: 5px;
}
.txt-color-white {
	color: #FFF;
}
.profile_image{
	width:150px;
}
.user_title{
	width:100%;
	top:17px;
}
.profile_address{
	width:37px;
	margin-top:25px;
	float:left;
}
.address{
	margin-top:25px;
}
.upload_profile{
	background:#0798BC;
    border-radius: 2px;
    color: #FFFFFF;
    margin-left: 16px;
    padding: 11px;
}
.clear{
	clear:both;
}
.skill{
	background:#CCCCCC;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    float: left;
    margin-left: 10px;
    padding: 7px;
}
.jobs{
	border:1px solid #BBB;
	padding:10px;
	border-radius:2px;
}
.jobs-title{
	color:#0798BC;
}
.need{
	border: 1px solid #f63;
    width: 28px;
    background: #f63;
    padding: 20px;
    border-radius: 50%;
}
.need-title{
	margin-top:10px;
	font-weight: bold;
    margin-left: -15px;
}
.active{
	
	background:#0798BC !important;
	border: 1px solid #0798BC !important;
}
.need-line{
	border:1px solid #f63;
	width:107px;
	margin-left:21px;
}
.bath{
	background:url('../images/icons/bath.png') no-repeat scroll 0 0;
	
}
.service-box.style-1 > img {
    color: #FFF;
    display: block;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 15px;
    position: relative;
    z-index: 4;
	margin-left: 49px;
}
.profile_rating{
	margin-top:25px;
}
.hire{
	margin-top:25px;
}
.rate{
	margin-top:25px;
}
.profile-description{
	margin-top:25px;
}
.profile-service{
	margin-top:25px;
}
.profile-history{
	margin-top:25px;
}
.horizontal{
	border:1px solid #CCC;
}
.tab-pane{
	background:none !important;
	border:none !important;
}
.nav-tabs > li{
	background:none !important;
	border:none !important;
}

.select2-container--default .select2-selection--multiple{
    height: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    background-color: #f6f7f3;
    font-family: 'Roboto Slab', serif;
}
.select2-container--default .select2-selection--single{
    height: 50px;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    background-color: #f6f7f3;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 12px;
}